@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	scroll-behavior: smooth;
	font-family: 'Inter', serif;
}

.title {
	font-family: 'Alegreya Sans SC', serif;
	font-weight: 800;
}

.desktop-nav a {
	@apply border-b-2 border-transparent text-secondary transition-colors hover:border-secondary;
}

html,
body {
	overscroll-behavior: none; /* Disable rubber-band effect */
}
